body{ 
	background: linear-gradient(45deg, lightgreen, lightsalmon, lightgreen);
	background-attachment: fixed;
}
.meun{
	background: linear-gradient(45deg, black, deeppink);
	width: 100%;
	
}
.meun a{
	
	color:blue;
	text-decoration:none;
	font-size:40px;
	padding:10px 25px;
	padding-left:20px;
	display:inline-block;
	margin-left: 25px;
}
.meun a:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;
}
.first h1{
		text-align:center;
		font-size:60px;
		font-family: "Comic sans MS",sans-serif;
}
.first p {
		text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		
}
.first h2:hover{
	background-color: linear-gradient(45deg,red,black,red);
	border-radius: 50px;
}
table{
	width: 100%;
	margin-top: 50px;
	
}
img{
	border-radius: 10px;
}
p{
	text-align: center;
}
#burgers h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
}
#burgers p{
	text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#burgers h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}
#fries h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
		
}
#fries p{
	text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fries h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}
#greens h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
}
#greens p{
	text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#greens h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}
#noodles h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
}
#noodles h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}
#deserts h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;}
#deserts h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}
#pizza h2{background: linear-gradient(45deg,red,black,red);
		padding:15px;
		border-radius:50%;
		width:800px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
}
#pizza p{
	text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pizza h2:hover{
		background: linear-gradient(45deg,red,black,red);
		border-radius:50px;}

#footer h2{
		background: linear-gradient(45deg,red,black,red);
		padding:15px;
		margin:auto;
		box-shadow:0 0 10px black;
		text-align:center;
		font-size:30px;
		color:white;
		margin-top: 50px;
}